body {
	//background: url('bg.png');
	//color: #72df3e;
}

.app-title {
	color: black;
}

.alert {
	margin-bottom: 0px;
}

.devise-views {
	margin-top: 20px;
	background: white;
}

.clear {
	clear: both;
}

.description {
	background-color: #8f8f8f;
	height: auto;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 3px 4px #2a2a2a;
}

.app-box {
	border: 3px;
	background: white;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.hero {
	background-color: #1a1a1a;
	height: 280px;
	box-shadow: 0px 3px 8px #2a2a2a;
	border-radius: 0px;
	margin-bottom: 20px;
}

.hero .picture {
	background: url('logo.jpg') no-repeat center center;
	background-size: 350px 280;
	height: 100%;
}

.navbar {
	margin-bottom: 0px;
}

.navbar .navbar-brand {
	color: #58f158;
}

.glyphicon-plus {
	font-size: 10px;
	margin-bottom: 2px;
}
